#webform {
  background-color: var(--web_bg_color);
  border: black solid 3px;
  border-radius: 10px;
  padding: 6px;
}

#form-section {
  border-radius: 10px;
  padding: 6px;
}
#form-summary {
  background-color: var(--form_sum_bg_color);
  border: black solid 3px;
  border-radius: 10px;
  padding: 6px;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 1rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
  text-decoration: underline;
}
input {
  background-color: #f6f6f6;
  border: black solid 1.5px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
input:hover {
  background-color: #61b8e7;
}
input:focus {
  background-color: #f6f6f6;
  border: black solid 1.5px;
}
input:user-invalid {
  background-color: #f6f6f6;
  border: #c1454a solid 5px;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.fieldset {
  border: black solid 1.5px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.button {
  background-color: #d38574;
  border: none;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
  margin-left: 10px;
}
