html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background-color: var(--color-bg);
}

header {
  height: min-content;
}

p {
  font-family: "Cutive Mono", monospace;
}

.first_patient {
  display: inline-block;
  background-color: var(--fp_j_bg_color);
  border-radius: var(--border-radius);
  padding: 0.4rem 1rem;
}

.journal {
  display: inline-block;
  background-color: var(--fp_j_bg_color);
  border-radius: var(--border-radius);
  padding: 0.4rem 1rem;
}

#main-disclamer {
  height: 225px;
  background-color: var(--color-head-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  padding-bottom: 2%;
  margin-bottom: var(--margin-head-bottom);
}

#main-disclamer-content {
  display: flex;
  column-gap: 1rem;
}

main section {
  padding: 20px;
  border-radius: var(--border-radius);
}

h1 {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-inverted);
  margin: 5px 0;
  line-height: 1.3rem;
  text-align: left;
}

#instruction h1,
#register h1 {
  margin: 40px 0 20px 0;
  padding: 15px 30px;
  background-color: var(--color-head-bg);
  font-size: 2rem;
}

#instruction p {
  grid-column: 1/-1;
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.sub {
  font-size: 1.5rem;
  font-weight: var(--font-weight-light);
  color: var(--color-text-inverted);
}

h2 {
  font-family: "Cutive Mono", monospace;
  font-size: 1.3rem;
  text-decoration: underline;
}

h3 {
  font-family: "Cutive Mono", monospace;
  text-decoration: underline;
  font-size: 1.2rem;
}

main > h1 {
  width: calc(80% - 6rem);
}

/* NAVIGATION STRUCTURES */
header > nav {
  height: 100%;
  background-color: var(--color-menu-bg);
}

nav ul {
  list-style: none;
}

a {
  font-family: "Cutive Mono", monospace;
}

label {
  font-family: "Cutive Mono", monospace;
}

li {
  font-family: "Cutive Mono", monospace;
}

button {
  font-family: "Cutive Mono", monospace;
}

.close_btn {
  background-color: #d38574;
  padding: 0.25rem;
  margin-bottom: 10px;
}

.light_dark_mode {
  background-color: #d38574;
  padding: 0.25rem;
}

nav a {
  text-decoration: none;
  color: var(--color-text);
}

/* Måske skal du lave en ny regel for logotype-wrapper, når du har lavet din logotype */
#logotype-wrapper {
  background-color: var(--color-logotype-bg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.6rem;
}

#logotype-wrapper > a {
  color: var(--color-text-logotype);
  font-size: var(--font-logotype-size);
  font-weight: var(--font-weight-medium);
  width: 320px;
  padding: 4rem;
  margin-left: 1rem;
}

/* Global menu */
header nav li a {
  margin: 1.5rem;
  background-color: var(--color-link-bg);
  color: var(--color-text);
  font-size: var(--followup-text-size);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-links);
}

/* Pilen efter menu-tekst */
header > nav li > a:after {
  content: " \2192";
}

/* Global menu hover effekt - Lav den om til det, du synes */
nav a:hover {
  background-color: var(--color-link-hover);
}

nav a:active {
  background-color: var(--color-link-active);
}

/* FOOTER */
footer a {
  font-size: 0.7rem;
}

/* Breaking news styling */
[popover] {
  padding: 1rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  background-color: var(--news_bg_color);

  button {
    position: sticky;
    top: 0;
    justify-self: end;
  }

  &:popover-open {
    display: grid;
  }

  &::backdrop {
    background: #0008;
  }

  .streamer {
    color: var(--game_settings);
  }

  .streamer_music {
    color: var(--game_settings);
    text-decoration: line-through;
  }

  .graf_med {
    color: var(--game_settings);
  }

  .graf_low {
    color: var(--game_settings);
  }

  .difi_med {
    color: var(--game_settings);
  }

  .difi_hard {
    color: var(--game_settings);
  }

  .lang_eng {
    color: var(--game_settings);
  }

  .lang_deu {
    color: var(--game_settings);
  }
}
